<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
    <header class="header-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-4">
                    <a href="#">
                        <img class="header-logo" src="../images/covid-logo.png" alt="" srcset="">
                     </a>
                 </div>
                 <div class="col-md-6 col-6">
                    <h1>Covid-19 Live App(IN)</h1>
                 </div>
            </div>
        </div>
    </header>
    <section class="section1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-12">
                    <h4>#IndiaFightsCorona COVID-19</h4>
                </div>
                <div class="col-md-4 col-12">
                    <button class="w3-btn w3-round-large w3-hover-red"><b>HOSTPORTDISTRICTS</button>
                </div>
                <div class="col-md-4 col-12">
                    <div class="w3-dropdown-hover" style="background-color: transparent;">
                        <button class="w3-btn w3-round-large w3-hover-red"><b>LATEST NOTIFICATIONS</button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                          <a href="#" class="w3-bar-item w3-button">Link 1</a>
                          <a href="#" class="w3-bar-item w3-button">Link 2</a>
                          <a href="#" class="w3-bar-item w3-button">Link 3</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="container-fluid">
            <div class="col-12">
                    <ul class="section2-p text-center">COVID-19 Dashboard </ul>
                    <ul class="updation text-center" id="updation"> </ul>
            </div>
            <div class="row">
                <div class="col-md-3 col-6 card">
                    <div class="card bg-primary text-white w3-padding-16 ">
                        <div class="card-body text-center section2-text"><span class="section-span" id="totalCases" ></span> <br> Total Cases</div>
                      </div>
                </div>
                <div class="col-md-3 col-6 card">
                    <div class="card bg-success text-white w3-padding-16 ">
                        <div class="card-body text-center section2-text"><span class="section-span" id="activeCases" ></span> <br>Active Cases</div>
                      </div>
                </div>
                <div class="col-md-3 col-6 card">
                    <div class="card bg-danger text-white w3-padding-16 ">
                        <div class="card-body text-center section2-text"><span class="section-span" id="discharged" ></span> <br>Cured/Discharged</div>
                      </div>
                </div>
                <div class="col-md-3 col-6 card">
                    <div class="card bg-warning text-white w3-padding-16 ">
                        <div class="card-body text-center section2-text"><span class="section-span" id="deaths"></span> <br>Deaths</div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="section3">
            <div class="container">
                <div class="section3-scroll">
                    <h6 class="state_name_totalCases" id="state_name_totalCases"></h6>
                </div>
            </div>
        </div>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    <script src="https://kit.fontawesome.com/080a5d2e87.js" crossorigin="anonymous"></script>
    <script src="../js/index.js" type="text/javascript"></script>
</body>
</html>